<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Biografi - Muhammad Nurwibawanto</title>
</head>

<body style="box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Muhammad Nurwibawanto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="#biografi">Biografi</a>
                    <a class="nav-link" href="#">Contact</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <div class="row">
            <img class="img-fluid" style="height: 40vw;"
                src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="hero-img">
        </div>
        <div class="position-absolute" style="background-color: #ffffffd7;
    color: #000;
    top: 20vw;
    left: 35vw;
    width: 35vw;
    border-radius: 5px;
    text-align: center;">
            <h1>Programmer</h1>
            <h2>Muhammad Nurwibawanto</h2>
            <button class="btn btn-primary mb-2" type="button">Linkedin Profile</button>
        </div>

    </div>
    <div id="biografi" class="container">
        <div class="row">
            <h2 class="text-center">Biografi</h2>
        </div>
        <p style="text-align: justify;">Halo perkenalkan nama saya Muhammad Nurwibawanto biasa dipanggil anto,
            keseharian saya mengajar di smk
            sebagai guru mapel Informatika tetapi hanya sebatas honorer. saya sangat tertarik dibidang programmer
            lantaran menurut saya sanggat mengasikan, disamping itu saya juga sudah membuat project yang saya kerjakan
            sendiri dalam waktu 2 bulan lamanya, nama projectnya computer based test dengan membuat siswa tidak ujian
            lagi di keras tetapi menggunakan hp/ laptop mereka. program ini digunakan juga di smk darmawan tempat saya
            berkerja.</p>

    </div>
    <div class="container-fluid p-0">
        <div class="row justify-content-center gx-2">
            <div class="col-4" id="skill1">
                <h2>Skill</h2>
                <ul>
                    <li>php</li>
                    <li>javascript</li>
                    <li>Mysql</li>
                    <li>Mogodb</li>
                </ul>
            </div>
            <div class="col-4" id="skill2">
                <h2>Other SKill</h1>
                    <ol>
                        <li>Nodejs</li>
                        <li>Codeigniter 3</li>
                    </ol>
            </div>

        </div>
    </div>
    <div class="container">
        <h2 class="text-center">Keluarga</h2>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Alamat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Risma</td>
                        <td>Bogor</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Rizky</td>
                        <td>Bogor</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Annisa</td>
                        <td>Bogor</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div id="contact" class="container">
        <h2 class="text-center">contact</h2>
        <form action="#">
            <div class="form-floating mb-3">
                <input type="nama" class="form-control" id="nama" placeholder="Nama">
                <label for="nama">Nama</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <textarea name="pesan" id="pesan" class="form-control" cols="30" rows="10"></textarea>
                <label for="pesan">Email address</label>
            </div>
            <button type="button" class="btn btn-primary">Send</button>
        </form>
    </div>
    <hr>
    <footer class="container-fluid bg-dark">
        <div class="row">
            <p class="text-center text-white align-middle">Copyright &copy; 2020 Muhammad Nurwibawanto</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</body>

</html>
</div>